<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<div id='calendar'></div>
	<input type="hidden" id="provider" name="provider" th:value="${provider}">
	<input type="hidden" id="providerid" name="providerid" th:value="${providerid}">
	<div id="dialog" title="일정 불러오기 메뉴얼">
		<p>Google 캘린더를 공개로 설정하세요.</p>

		<p>Google 캘린더 인터페이스에서 왼쪽에 있는 "내 캘린더" 영역을 찾으세요.</p>
		<p>원하는 일정의 설정 및 공유를 클릭하세요.</p>
		<p>일정의 액세스 권한의 "공개 사용 설정"을 체크하세요.</p>
		<p>“저장”을 클릭하세요.</p>

	</div>
	</div>
</html>
<script type="text/javascript" th:src="@{/js/calendar_home.js}"></script>
