<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<h5 class="my-3 border-bottom pb-2">카테고리 등록</h5>
	<form th:object="${categoryForm}" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		<div class="mb-3">
			<label for="name" class="form-label">카테고리명</label>
			<input type="text" th:field="*{name}" class="form-control">
		</div>
		<div class="mb-3">
			<label for="useAnswer">답변 사용 여부</label>
			<select id="useAnswer" name="useAnswer">
				<option value="0">X</option>
				<option value="1">O</option>
			</select>
		</div>
		<input type="submit" value="저장하기" class="btn btn-dark my-2">
	</form>
</div>

</html>